<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" type="text/css" href="materialize/css/materialize.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    
    <body>
        <div class="navigation">
            <a href="/logout" id="logoutLink">LOGOUT</a>
            <a href="/follow">FOLLOW</a>
            <a href="/search">SEARCH</a>
            <a href="" id="profileClick">PROFILE</a>
            <a href="/">HOME</a>
            <a href="/" style="float: left;">TWITTER</a>
        </div> 
        
        
        <div class="everything" ng-app="myApp" ng-controller="myCtrl" ng-cloak>
        
            <div id="userInfo">

                <img src=""> <br>
                <div class="info">
                    @ {{userinfo.user.username}} <br>
                    {{userinfo.user.email}} <br>
                    {{userinfo.user.followers}} <a href="/followers/{{userinfo.user.username}}">Followers</a> <br>
                    {{userinfo.user.following}} <a href="/following/{{userinfo.user.username}}">Following </a> <br>
                </div>
            </div>

            <div id="tweetsInfo">
                
                <form method="POST" action="/additem" id="additemForm">
                    <p><p>
                    <div class="formContent">
                        <textarea name="content" id="content"></textarea> <br>
                        <span style="text-transform: uppercase;font-size: 11px;">
                            TOTAL WORD COUNT: <span id="count">0</span> 
                        </span><br>
                    
                        <input type="text" name="parent" placeholder="parent id"> <br>
                        <input type="text" name="media" placeholder="[{idname, ...}]"> <br>
                        <button type="submit" id="tweetButton">Tweet</button>   
                    </div>
                </form>

                <div id="newsfeed">
                    <div class="tweet" ng-repeat = "tweet in newsfeed.items |orderBy:'-'">
                        <img src='img/tuser.png' align='left' style="width: 60px; margin: 5px 5px 0px 5px;"> @{{tweet.username}}
                        Id #{{tweet.id}} 
                        {{tweet.timestamp | date:'M/d/yyyy'}}
                        <a href="" class="delete" id= "{{tweet.id}}"></a>
                        <br>
                        {{tweet.content}} 
                        <br>
                        <div class="icons">
                            <!-- <img src="img/reply.png"> -->
                            <img src="img/like.png" style="width: 22px" id="like" ng-click="handleLike(tweet.id, tweet.username)"> {{tweet.likes}}
                            <img src="img/retweetGray.png" id="retweet" ng-click="handleRetweet(tweet.id, tweet.content)"> {{tweet.retweets}}
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
        <script>

            var app = angular.module('myApp', []);
            
            app.controller('myCtrl', function($scope, $http) {
                var userInfo = $http.post("/user");
                userInfo.success(function (data) {
                    if (data.status == "OK") {
                        $scope.userinfo = data;
                        document.getElementById('profileClick').setAttribute('href',"/profile/" + data.user.username);
                    } else {
                        window.location = "/login";
                    }
                });
                
                $scope.handleLike = function(id, username){
                    var likedAlready = $http.post("/didilike", 
                    JSON.stringify({ id: id, user: username}));
                    likedAlready.success(function (data) {
                        if (data.status == "OK") {
                            var likePost = $http.post("/item/"+id+"/like",  
                            JSON.stringify({like: !data.liked}));
                            likePost.success(function (data) {
                                if (data.status == "OK")
                                    window.location="/";
                                else
                                    alert(data.error);
                            });
                        }
                    });
                }
                
                $scope.handleRetweet = function (parent, content) {
                    var retweet = $http.post("/additem", 
                    JSON.stringify({
                        retweetParent: parent, 
                        content: "RT " + content,
                        retweetBool: true
                    }));
                    
                    retweet.success(function (data) {
                        if (data.status == "OK")
                            window.location = "/"; 
                    });
                }
                
                var newsfeed = $http.post("/search", 
                JSON.stringify({following: false}));
                newsfeed.success(function (data) {
                    if (data.status == "OK") {
                        $scope.newsfeed = data;
                    } else {
                        window.location = "/login";
                    }
                });
                
                
                $("#logoutLink").click(function(event) {
                    var logout = $http.get("/logout");
                });
                
                
                $("#additemForm").submit(function (event) {
                    event.preventDefault(); 
                    var addtweet = $http.post("/additem", JSON.stringify({
                        content: $("textarea[name='content']").val(), 
                        parent: $("input[name='parent']").val(),
                        media: $("input[name='media']").val()
                    }));
                                                 
                                              
                    addtweet.success(function (data) {
                        if (data.status == "OK") {
                            $("#content").val("");
                            var postToNewsfeed = $http.post("/item", JSON.stringify({itemId: data.id}));
                            postToNewsfeed.success(function (d) {
                                if (d.status == "OK") {
                                    window.location ="/"
                                } else {
                                    $("#newsfeed").prepend("<p> <center>" + data.error);
                                }
                            });
                        }
                    });
                });
                
                $("#content").on('keyup', function() {
                    var wordcount = this.value.length;
                    $("#count").html(wordcount);
                });     
            });


    
        </script>
    </body>
</html>
