<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
        <%= username %>
        <%= content %>
        <%= timestamp %>
        <script>
            $(document).ready(function () {
                   
                    $.ajax({
                        "url": "/item/2524456252",
                        "type":"GET",
                        "data": "",
                        "dataType": "json", 
                        "contentType": "application/json; charset=utf-8"
                    }).done(function(data, xhr) {
                        xhr.StatusCode = 500;
                    });
            });
        </script>
    </body>
</html>

