<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../materialize/css/materialize.css">
        <link rel="stylesheet" type="text/css" href="../style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    </head>
    <body>

        <div class="navigation">
                <a href="/logout" id="logoutLink">LOGOUT</a>
                <a href="/follow">FOLLOW</a>
                <a href="/search">SEARCH</a>
                <a href="" id="profileClick">PROFILE</a>
                <a href="/">HOME</a>
                <a href="/" style="float: left;">TWITTER</a>
        </div> 
        
        <div class="everything" ng-app="myApp" ng-controller="myCtrl" ng-cloak>
            

            <div id="userInfo">
                
                <img src=""> <br>
                <div class="info">
                    @ {{whoami.username}} <br>
                    {{userinfo.user.email}} <br>
                    {{userinfo.user.followers}} <a href="/followers/{{profileUser}}">Followers</a> <br>
                    {{userinfo.user.following}} <a href="/following/{{profileUser}}">Following </a> <br>
                   
                </div>
            </div>

            <div id="tweetsInfo">
                <div class="tweet" ng-repeat = "tweet in newsfeed.items |orderBy:'-'">
                    <img src='../img/tuser.png' align='left' style="width: 60px; margin: 5px 5px 0px 5px;"> @{{tweet.username}}
                    Id #{{tweet.id}} 
                    {{tweet.timestamp | date:'M/d/yyyy'}}
                    <a href="" class="delete" id= "{{tweet.id}}"></a>
                    <br>
                    {{tweet.content}} 
                    <br>
                    <div class="icons">
                        <!-- <img src="img/reply.png"> -->
                        <img src="../img/like.png" style="width: 22px" id="like" ng-click="handleLike(tweet.id, tweet.username)"> {{tweet.likes}}
                        <img src="../img/retweetGray.png" id="retweet" ng-click="handleRetweet(tweet.id, tweet.content)"> {{tweet.retweets}}
                    </div>

                </div>
            </div>
            
        </div>
         
        
        <script>

            var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope, $http) {
                $scope.deleteTweet = function (id) {
                    var delTweet = $http.delete("/item/" + id);
                    delTweet.success(function(data, status) {
                        location.reload();
                    });
                }
                
                var arr = (window.location.pathname).split("/");
                var username = arr[arr.length-1];
                $scope.profileUser = username;
                
                var whoami = $http.post("/whoami");
                whoami.success(function (data, status) {
                    if (data.status == "OK") {
                        $scope.whoami = data;
                        var newlocation = "window.location='/profile/" + $scope.whoami.username + "'";
                        document.getElementById('profileClick').setAttribute('href',"/profile/" + data.user.username);
                    } else 
                        window.location = "/login";
                });
                
                var userinfo = $http.get("/user/" + username);
                userinfo.success(function (data) {
                    if (data.status == "OK")
                        $scope.userinfo = data;
                        
                    else 
                        $(".everything").html("This profile does not exist.");
                });
                
                $("#logoutLink").click(function(event) {
                    var logout = $http.get("/logout");
                });
                
                
                
                var newsfeed = $http.post("/search", JSON.stringify({username:username, following: false}));
                newsfeed.success(function (data) {
                    if (data.status == "OK") {
                        $scope.newsfeed = data;
//                        alert(JSON.stringify(data));
                        $scope.deleteButton = "";
                        if ($scope.profileUser == $scope.whoami.username)
                            $scope.deleteButton = "delete";
                    } else
                        window.location = "/login";
                });
                
                $scope.handleLike = function(id, username){
                    var likedAlready = $http.post("/didilike", 
                    JSON.stringify({ id: id, user: username}));
                    likedAlready.success(function (data) {
                        if (data.status == "OK") {
                            var likePost = $http.post("/item/"+id+"/like",  
                            JSON.stringify({like: !data.liked}));
                            likePost.success(function (data) {
                                if (data.status == "OK")
                                    window.location="/profile/" + $scope.whoami.username;
                                else
                                    alert(data.error);
                            });
                        }
                    });
                }
                
                $scope.handleRetweet = function (parent, content) {
                    var retweet = $http.post("/additem", 
                    JSON.stringify({
                        retweetParent: parent, 
                        content: "RT " + content,
                        retweetBool: true
                    }));
                    
                    retweet.success(function (data) {
                        if (data.status == "OK")
                            window.location="/profile/" + $scope.whoami.username;
                    });
                }
            
            });

    
        </script>
    </body>
</html>

