<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="materialize/css/materialize.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
                
        <style>
            /* do not move to regular css!! */
            #tweetsInfo {
                float: none;
                width: 100%;
            }
        </style>
    </head>
    
    <body>
        <div class="navigation">
            <a href="/logout" id="logoutLink">LOGOUT</a>
            <a href="/follow">FOLLOW</a>
            <a href="/search">SEARCH</a>
            <a href="" id="profileClick">PROFILE</a>
            <a href="/">HOME</a>
            <a href="/" style="float: left;">TWITTER</a>
        </div> 
        
        <div class="everything" ng-app="myApp" ng-controller="myCtrl" ng-cloak>
        
            <div id="tweetsInfo">
                <div class="tweet" ng-repeat = "tweet in searchResults.items |orderBy:'-'">
                    <img src='img/tuser.png' align='left' style="width: 60px; margin: 5px 5px 0px 5px;">
                    @{{tweet.username}}
                    Id #{{tweet.id}} 
                    {{tweet.timestamp | date:'M/d/yyyy'}}
                    <br>
                    {{tweet.content}} 
                    <br>
                    <div class="tweetImgs" ng-repeat = "m in tweet.media">
                        <img src='/media/{{m}}'>
                    </div>
                    <div class="icons">
                        <!-- <img src="img/reply.png"> -->
                        <img src="img/like.png" style="width: 22px" id="like" ng-click="handleLike(tweet.id, tweet.username)"> {{tweet.likes}}
                        <img src="img/retweetGray.png" id="retweet" ng-click="handleRetweet(tweet.id, tweet.content)"> {{tweet.retweets}}
                    </div>
                </div>
                
                <div class="tweet" id='one'>
                    <img src='img/tuser.png' align='left' style="width: 60px; margin: 5px 5px 0px 5px;">
                    @{{itemResult.item.username}}
                    Id #{{itemResult.item.id}} 
                    {{itemResult.item.timestamp | date:'M/d/yyyy'}}
                    <br>
                    {{itemResult.item.content}} 
                    <br>

                    <div class="tweetImgs" ng-repeat = "m in itemResult.item.media">
                        <img src='/media/{{m}}'>                      
                    </div>
                    <div class="icons">
                        <!-- <img src="img/reply.png"> -->
                        <img src="img/like.png" style="width: 22px" id="like" ng-click="handleLike(itemResult.item.id, itemResult.item.username)"> {{itemResult.item.likes}}
                        <img src="img/retweetGray.png" id="retweet" ng-click="handleRetweet(itemResult.item.id, itemResult.item.content)"> {{itemResult.item.retweets}}
                    </div>
                </div>
            </div>
            
            <div class="hideThis">
            <form method="POST" action="/search" id="searchForm">
                <h5>ADVANCED SEARCH</h5>
                
                <input type="text" name="timestamp" placeholder="Timestamp (current time)">
                <input type="text" name="limit" placeholder="Limit (25)">
                <input type="text" name="q" placeholder="Query">
                <input type="text" name="username" placeholder = "Username">
                <input type="text" name="following" placeholder ="Following (true)">
                <input type="text" name="rank" placeholder="Time or interest (default interest)">
                <input type="text" name="parent" placeholder="Parent tweet  id">
                <input type="text" name="replies" placeholder="Replies (default true)">
                <button type="submit" class="btn btn-default" style="margin-top: 10px">Submit</button>

            </form>

            <form method="POST" action="/item" id ="itemForm">
                <div class="formContent">
                    <h5>SEARCH BY ID</h5>
                    <input type="text" name="itemId" placeholder="Tweet Id">
                    <button type="submit" class="btn btn-default" style="margin-top: 10px">Submit</button>
                </div>
            </form>
            </div>
        </div>
        
        
        <script>
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope, $http, $window) {
                $("#one").hide();
                $("#logoutLink").click(function(event) {
                    var logout = $http.get("/logout");
                });
                var whoami = $http.post("/whoami");
                whoami.success(function (data, status) {
                    if (data.status == "OK") {
                        $scope.whoami = data;
                        var newlocation = "window.location='/profile/" + $scope.whoami.username + "'";
                        document.getElementById('profileClick').setAttribute('href', '/profile/' + $scope.whoami.username);
                    } else 
                        window.location = "/login";
                });
                
                
                $("#searchForm").submit(function (event) {
                    event.preventDefault(); 
                    var searchResults = $http.post("/search",
                        JSON.stringify({
                        timestamp: $("input[name='timestamp']").val(), 
                        limit: $("input[name='limit']").val(), 
                        q: $("input[name='q']").val(),
                        username: $("input[name='username']").val(),
                        following: $("input[name='following']").val(),
                        rank: $("input[name='rank']").val(),
                        parent: $("input[name='parent']").val(),
                        replies: $("input[name='replies']").val()
                    }));
                    searchResults.success(function (data) {
                        if (data.status == "OK")
                            $scope.searchResults = data;
                        else    
                            $(".tweetsInfo").html(data.error);
                        $(".hideThis").html("");
                    });
                });
                $("#itemForm").submit(function (event) {
                    event.preventDefault(); 
                    var tweetRetrieval = $http.post("/item", JSON.stringify({
                        itemId: $("input[name='itemId']").val()
                    }));

                    tweetRetrieval.success(function (data) {
                        $(".hideThis").html("");
                        $("#one").show();
                        if (data.status == "OK")
                            $scope.itemResult = data;
                        else
                            $(".tweetsInfo").html(data.error);
                    });
                });
                
                
                $scope.handleLike = function(id, username){
                    var likedAlready = $http.post("/didilike", 
                    JSON.stringify({ id: id, user: username}));
                    likedAlready.success(function (data) {
                        if (data.status == "OK") {
                            var likePost = $http.post("/item/"+id+"/like",  
                            JSON.stringify({like: !data.liked}));
                            likePost.success(function (data) {
                                if (data.status == "OK")
                                    alert("liked/unliked!")
                                else
                                    alert(data.error);
                            });
                        }
                    });
                }
                
                $scope.handleRetweet = function (parent, content) {
                    var retweet = $http.post("/additem", 
                    JSON.stringify({
                        retweetParent: parent, 
                        content: "RT " + content,
                        retweetBool: true
                    }));
                    
                    retweet.success(function (data) {
                        if (data.status == "OK")
                            alert("retweeted!")
                    });
                }
            });
        
        </script>
    </body>
</html>

