@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    font-family: Open Sans;
    text-align: center;
    margin-top: 25%;
    background-color: #DCEFF5;
}

h1 {
    font-size: 100px;
}