@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    font-family: Open Sans !important;
    text-align: center !important;
    background-color: #F0F3F5;
    color: #474747;
}


h1 {
    font-size: 100px !important;
    margin-bottom: 50px !important;
    color: #79A7BA;
    text-shadow: 1px 1px #E3E3E3;
}

a {
    color: #79A7BA !important;
}

textarea {
    width: 400px;
    height: 100px;
    border:1px solid #9E9E9E;
    border-radius: 5px;
    background-color: white;
}
textarea:focus {outline:0;}


button:hover, button:active{ /*#26A69A*/
    background-color: #79A7BA !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #8F8F8F !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #8F8F8F !important;
}

#searchTable {
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    border:1px solid #9E9E9E;
    border-radius: 5px;
}

#searchTable td, th {
    border:1px solid #9E9E9E;
}

            
#entire {    
    display: block !important;
    margin: 0 auto !important;
}
#left {
    float: left;
    margin-left: 13%;
    margin-top: 10%;
    width: 20%;
}

#left button {
    width: 120px !important;
}

#right {
    float: left;
    margin-left: 3%;
    width: 40%;
}

#right button {
    margin: 0 auto;
}

.nav-wrapper {
    background-color: #79A7BA;
}

.nav-wrapper a {
    color: #FFF !important;
    
}

#userInfo img {
    padding: 5px;
    border:1px solid #9E9E9E;
    width: 200px;
}

#userInfo {
    margin-left: 5%;
    float: left;
    position: fixed;
    width: 27%;
}

#navigation {
    margin: 0 auto;
    margin-top: 2%;
}

#tweetsInfo {
    margin-left: 30%;
    width: 40%;
}

.tweet{
    background-color: white;
    text-align: center;
    margin: 10px;
    padding: 5px;
    border:1px solid #9E9E9E;
}

#follow {
    width: 50%;
    margin: 0 auto;
}